# =========================
# .NET
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# Rider / VSCode / VS
.vs/
.vscode/
.idea/

# =========================
# Node
# =========================
node_modules/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local

# =========================
# OS
# =========================
.DS_Store
Thumbs.db